/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Mouse+Memoirs&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Mouse Memoirs", sans-serif;
    --secondary-font: "Handjet", sans-serif;
    --primary-color: #ffcc00;
    --secondary-color: #ff9900;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
}
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* .container,
.row {
    border: 2px solid black;
}
.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
