/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Doto:wght,ROND@900,85&family=Handjet:wght@100..900&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Doto", sans-serif;
    --secondary-font: "Handjet", sans-serif;
    --primary-color: #ff5900;
    --secondary-color: #ff4000;
    --highlight-color: #b3316cc7;
    --highlight-color-light: #c27aa5e0;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
}
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* Navbar */
#navbar {
    background-color: var(--primary-color);
    padding: 1rem;
}

#navbar .logo {
    width: 28px;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

button {
    background: var(--highlight-color);
    color: white;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
}

main .row {
    width: 100%;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(4, calc(140px / 2 * 3));
}

.card {
    width: 140px;
    height: 210px; /* 140px / 2 * 3 */
    border-radius: 10px;
    background-color: white;
    transform-style: preserve-3d; /* Nice 3d look to flip effect */
    transition: all 0.5s ease-in-out; /* smooth transition */
}

.front-image {
    width: 80px;
    height: 80px;
}

.card.flipped {
    transform: rotateY(180deg); /* flip the card */
}

.front,
.back {
    backface-visibility: hidden; /* hide the back of the card when flipped */
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    border: 5px double black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center; /* center the icons horizontally and vertically */
    align-items: center;
    transform: rotateY(180deg);
}

.card .back {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='M20 20v20h20V20zm5 5h10v10H25zM0 0v20h20V0zm5 5h10v10H5z'  stroke-width='1' stroke='none' fill='%239c27b0ff'/><path d='M5 25h10v10H5zM25 5h10v10H25z'  stroke-width='1' stroke='none' fill='hsla(4.1,89.6%,58.4%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center center; /* center the background image */
    background-size: 130px 200px;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

/* Media queries */
@media (max-width: 576px) {
    main .row {
        width: 650px;
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(2, 70px);
        grid-template-rows: repeat(2, calc(70px / 2 * 3));
    }
    .card {
        width: 70px;
        height: 105px; /* 70px / 2 * 3 */
    }
    .card .back {
        background-size: 55px 90px;
    }
    .front-image {
        width: 50px;
        height: 50px;
    }
}
