/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Mouse+Memoirs&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Mouse Memoirs", sans-serif;
    --secondary-font: "Handjet", sans-serif;
    --primary-color: #ff5900;
    --secondary-color: #ff4000;
    --highlight-color: #b3316cc7;
    --highlight-color-light: #c27aa5e0;
}

/* Global Styles */
body {
    font-family: var(--primary-font);
}
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* Navbar */
#navbar {
    background-color: var(--primary-color);
    padding: 1rem;
}

#navbar .logo {
    width: 28px;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* grid visualization for testing */

/* .container,
.row {
    border: 2px solid black;
}
.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

button {
    background: var(--highlight-color);
    color: white;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
}

.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}
.tile {
    height: 100px;
    background: #111111;
    border: 5px solid #444444;
    cursor: pointer;
}
